domdf-python-tools>=1.8.0
flask-sqlalchemy>=2.4.4
flask>=1.1.2
southwark>=0.7.1
github3-utils>=0.4.2
psycopg2-binary>=2.8.6
dulwich>=0.20.14
github3-py>=1.3.0
gunicorn>=20.0.4
click
flask-githubapp>=0.2.0
git+https://github.com/domdfcoding/repo_helper@c3023ee801152abb2dbb7d13424cece8953a859e
