git+https://github.com/repo-helper/repo_helper@2f50f70d256525f58c99d24a188aa46b66cefead
apeye>=1.0.0
click>=7.1.2
domdf-python-tools>=3.2.0
dulwich>=0.22.1
flask>=1.1.2
flask-githubapp>=0.2.0
flask-sqlalchemy>=2.4.4
github3-py>=1.3.0
github3-utils>=0.6.1
gunicorn>=20.0.4
psycopg2-binary>=2.8.6
southwark>=0.7.1
sqlalchemy==1.3.22
werkzeug<3
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
